.background-myFont{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8925770137156425) 30%, rgba(0,212,255,1) 99%);
}

.txtForm{
	width: 100%;
	margin-top:20px;
}

.FormM{
	margin-top:19%;
	background-color:#34495e ;
}
.borderForm{
	border: 2px #fff solid;
	border-radius:15px;
}
.btnStyle{
	margin-top:20px;
}

.btnExitStyle{
	background-color:red;
	border-radius:5px;
	font-weight:bold;
	text-align:center;
}
.btnExitStyle:hover{
	background-color:#ff330e;
}
